.book-table{
  margin-top: 20px;
}
.table-head{
  display: flex;
  justify-content: space-around;
  /* border: 2px solid red; */
}
.table-head div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.table-head input{
  padding: 10px 15px;
  border: 1px solid grey;
  font-size: 18px;
  border-radius: 10px;
}
.book-table h2{
  text-align: center;
  margin:20px;
  font-size: 1.5rem;
  font-weight: 600;
}

.book-table table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin: auto;
  }
  
  .book-table td, th {
    
    border: 1px solid black;
    text-align: center;
    padding: 8px;
    margin: 2px;
  }
  
  .book-table tr:nth-child(even) {
    background-color: #dddddd;
  }
  a{
    margin: 2px 8px;
    text-decoration: none;
  }

  @media only screen and (max-width:767px){
    .table-head{
      display: flex;
      justify-content: space-around;
      /* border: 2px solid red; */
    }
    .table-head div{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .table-head input{
      padding: 8px;
      border: 1px solid grey;
      font-size: 16px;
      border-radius: 10px;
    }
  }